/*@page { margin: 100px 25px; }*/
header {
    width: 100%;
    left: 0;
    top: -20px;
    right: 0;
    /*position: fixed;*/
    padding: 5px;
    /*height: 150px;*/
    /*background-color: #00dd00;*/
    text-align: center;
    /*border-bottom: 2px solid #000000;*/
}

header h2,h1,h3,h4{
    margin: 0;
}

.tipo{
    margin: 0;
}

.content {
    width: 100%;
    /*font-size: 10px;*/
    margin: 5px 5px 50px 5px;
    /*background-color: #00bfa5;*/
}

footer {
    text-align: right;
    height: 20px;
    position: fixed;
    bottom: 20px;
    /*background-color: #03a9f4;*/
}

.logos_container {
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    height:40px;
}

.logos_container::after {
    clear: both;
    display: table;
}

/*superior izquierda*/
.logo_juegos{
    width: auto;
    /*height: 40px; */
    position: absolute;
    top:  -15px;
    left: 0;
    /*width: auto;*/
    height: 100%;
    /*display:inline-block;*/
    /*position: absolute;*/
   /*top: 0;*/
    /*left: 0 ;*/
}

/*centro*/
.logo_cear{
    width: auto;
    height: 100%;
    position: absolute;
    top:-15px;
    left:400px;
}


/*derecha*/
.logo_fdg{
    width: auto;
    height: 100%;
    position: absolute;
    top:-15px;
    right:135px;
}

/*footer .pagenum:before {*/
    /*content: "Página " counter(page);*/
/*}*/


/*salto de pagina en el pdf*/
.page-break {
page-break-after: always;
/*page-break-before: always;*/

}

