/*body {
    width: 1cm;
}
*/

/* 1px=0.026458333cm*/

* {
    margin: 0;
    padding: 0;
}

body {
    /*background: rgb(204, 204, 204);*/
    margin: 0;
    padding: 0;
}

/*.cred{*/
/*size: 10cm 14.1cm;*/
/*border-color: #0c0c0c;*/
/*border: double;*/
/*position: absolute;*/
/*}*/
/*page[size="A4"][layout="portrait"] {*/
/*width: 29.7cm;*/
/*height: 21cm;*/
/*}*/

@media print {
    body{
        margin: 0;
        padding: 0;
    }

}

.page-break {
    /*display: block;*/
    page-break-after: always;
}

@page {
    /*size: 756px 1070px;*/
    size: A4;
}

.caja-ti {
    position: fixed;
    top: 15px; /*[wherever you want it]*/
    left: 11px; /*[wherever you want it]*/
    width: 378px;
    height: 532px;
    /*border: 1px solid #000000;*/
    /*background-color: #00dd00;*/
    /*margin: 18px;*/
    /*padding: 0;*/
}

.caja-bi {
    position: fixed;
    top: 565px; /*[wherever you want it]*/
    left: 18px; /*[wherever you want it]*/
    width: 378px;
    height: 535px;
    /*border: 1px solid #000000;*/
    /*margin: 0;*/
    /*background-color: #0000CC;*/
    /*padding: 0;*/

}

.caja-td {
    position: fixed;
    top: 15px; /*[wherever you want it]*/
    right: 11px; /*[wherever you want it]*/
    width: 378px;
    height: 532px;
    /*border: 1px solid #000000;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*background-color: white;*/

}

.caja-bd {
    position: fixed;
    top: 565px; /*[wherever you want it]*/
    right: 18px; /*[wherever you want it]*/
    width: 378px;
    height: 535px;
    /*border: 1px solid #000000;*/
    /*background-color: red;*/
    /*margin: 0;*/
    /*padding: 0;*/
}

.lt-funcion {
    position: relative;
    top: 163px; /*[wherever you want it]*/
    left: 139px; /*[wherever you want it]*/
    width: 226px;
    height: 26px;
    /*background-color: #ffffff;*/
    /*border-radius: 10px 10px 10px 10px;*/
    /*-moz-border-radius: 10px 10px 10px 10px;*/
    /*-webkit-border-radius: 10px 10px 10px 10px;*/
    /*border: 1px solid #000000;*/
}

.l-foto{
    position: relative;
    top: 186px;
    left: 11px;
    width: 139px;
    height: 177px;
    /*background-color: #ffffff;*/
    /*border-radius: 10px 10px 10px 10px;*/
    /*-moz-border-radius: 10px 10px 10px 10px;*/
    /*-webkit-border-radius: 10px 10px 10px 10px;*/
    /*border: 1px solid #000000;*/
}

.foto_cred{
    width: 134px;
    height: 179px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    /*border: 1px solid #000000;*/
}

.nombres {
    position: absolute;
    top: 212px;
    left: 175px;
    width: 207px;
    height: 26px;
    /*background-color: #ffffff;*/
    /*border-radius: 10px 10px 10px 10px;*/
    /*-moz-border-radius: 10px 10px 10px 10px;*/
    /*-webkit-border-radius: 10px 10px 10px 10px;*/
    /*border: 1px solid #000000;*/
}

.apellidos {
    position: absolute;
    top: 252px;
    left: 175px;
    width: 207px;
    height: 26px;
    /*background-color: #ffffff;*/
    /*border-radius: 10px 10px 10px 10px;*/
    /*-moz-border-radius: 10px 10px 10px 10px;*/
    /*-webkit-border-radius: 10px 10px 10px 10px;*/
    /*border: 1px solid #000000;*/
}

.cedula {
    position: absolute;
    top: 292px; /*[wherever you want it]*/
    left: 175px;
    width: 207px;
    height: 26px;
    /*background-color: #ffffff;*/
    /*border-radius: 10px 10px 10px 10px;*/
    /*-moz-border-radius: 10px 10px 10px 10px;*/
    /*-webkit-border-radius: 10px 10px 10px 10px;*/
    /*border: 1px solid #000000;*/
}

.provincia {
    position: absolute;
    top: 336px;
    left: 175px;
    width: 207px;
    height: 26px;
    /*background-color: #ffffff;*/
    /*border-radius: 10px 10px 10px 10px;*/
    /*-moz-border-radius: 10px 10px 10px 10px;*/
    /*-webkit-border-radius: 10px 10px 10px 10px;*/
    /*border: 1px solid #000000;*/
}

.deporte {
    position: absolute;
    top: 376px;
    left: 175px;
    width: 207px;
    height: 26px;
    /*background-color: #ffffff;*/
    /*border-radius: 10px 10px 10px 10px;*/
    /*-moz-border-radius: 10px 10px 10px 10px;*/
    /*-webkit-border-radius: 10px 10px 10px 10px;*/
    /*border: 1px solid #000000;*/
}

/*body{*/
/*margin: -20px 5px -100px 20px;*/
/*font-family: sans-serif;*/
/*}*/

/*@page {*/
/*margin: 5px 5px;*/
/*}*/

/*header {*/
/*width: 100%;*/
/*left: 0px;*/
/*top: -30px;*/
/*right: 0px;*/
/*position: fixed;*/
/*padding: 5px;*/
/*height: 120px;*/
/*!*background-color: #ddd;*!*/
/*text-align: left;*/
/*border-bottom: 2px solid #ddd;*/

/*}*/
/*header h1{*/
/*margin: 10px 0;*/
/*}*/
/*header h2{*/
/*margin: 0 0 10px 0;*/
/*}*/

/*footer {*/
/*position: fixed;*/
/*left: 0px;*/
/*bottom: 40px;*/
/*right: 0px;*/
/*height: 0px;*/
/*border-bottom: 2px solid #ddd;*/
/*font-size: 12px;*/
/*color: #0a568c;*/
/*clear: both;*/
/*}*/
/*!*footer .page:after {*!*/
/*!*content: counter(page);*!*/
/*!*}*!*/
/*footer table {*/
/*width: 100%;*/
/*text-align: center;*/
/*}*/
/*!*footer p {*!*/
/*!*text-align: right;*!*/
/*!*}*!*/
/*footer .izq {*/
/*text-align: left;*/
/*}*/

.limpia_float {
    clear: both; /*  hace k el segundo parrafo ya no flote a la izquierda del div o sea rompe el float k tiene el div*/
}

/*.content {*/
/*width: 100%;*/
/*left: 5px;*/
/*top: auto;*/
/*right: 5px;*/
/*font-size: 10px;*/
/*display: inline-block;*/
/*padding: 5px;*/
/*margin: 110px 5px 40px 5px;*/

/*background-color: #00bfa5;*/

/*float: left;*/
/*position: relative;*/
/*}*/

/*.credencial_img{*/
/*width: 230px;*/
/*height: 348px;*/
/*background: url(../img/camp/credencial.png) no-repeat;*/
/*border: 1px ;*/
/*border-style: dashed;*/
/*border-color:#090c29;*/
/*text-align: center;*/
/*display:inline-block;*/
/*padding: 0;*/
/*margin: 0;*/
/*position: absolute;*/
/*bottom:  150px;*/
/*right: 10px;*/
/*}*/

/*.tijera{*/
/*width: 20px;*/
/*height: 17px;*/
/*background: url(../img/camp/tijera.png) no-repeat;*/
/*text-align: center;*/
/*display:inline-block;*/
/*padding: 0;*/
/*margin: 0;*/
/*position: absolute;*/
/*bottom: 500px;*/
/*right: 240px;*/
/*}*/

/*th {*/
/*font-weight: bold;*/
/*text-align: left;*/

/*}*/

/*td {*/
/*text-decoration: underline;*/
/*}*/

/*!*salto de pagina en el pdf*!*/
/*.page-break {*/
/*page-break-after: always;*/
/*page-break-before: always;*/

/*}*/

.nobreak {
    page-break-inside: avoid;
}





